[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
djangorestframework = "*"
pymysql = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
boto3 = "*"
django-environ = "*"
django = "*"
environ = "*"
channels = "*"
image = "*"
pycryptodome = "*"

[requires]
python_version = "3.7"
